# Ignore Frontend dependencies & build
frontend/node_modules/
frontend/dist/
frontend/.env

# Ignore Backend build & settings
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/**/*.class
backend/.idea/
backend/*.iml
backend/.env

# Ignore Python/AI venv & cache
ai-services/venv/
ai-services/__pycache__/
ai-services/*.pt
ai-services/.env

# OS junk files
.DS_Store
Thumbs.dbs