name: Java Backend CI

on:
  push:
    branches: [ "main" ] # Chỉ chạy khi push vào main
    paths:
      - 'backend/**' # Chỉ chạy khi có thay đổi trong thư mục backend

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      # Chạy lệnh build, bỏ qua test nếu test case chưa viết xong để tránh lỗi
      run: mvn -B package -DskipTests --file backend/pom.xml 
      
    # (Optional) Lưu file .jar lại để tải về nếu cần
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: spring-boot-app
        path: backend/target/*.jar